<footer>
  <ul>
    <li><span class="icon-mail2"><a href=""></a></span></li>
    <li><span class="icon-twitter"><a href=""></a></span></li>
    <li><span class="icon-github"><a href=""></a></span></li>
    <li><span class="icon-linkedin2"><a href=""></a></span></li>
  </ul>
</footer>
