<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Book Collection</title>
<link rel="stylesheet" href="/styles/reset.css">
<link rel="stylesheet" href="/styles/icons.css">
<link rel="stylesheet" href="/styles/base.css">
<link rel="stylesheet" href="/styles/layout.css">
<link rel="stylesheet" href="/styles/modules/error.css">
<link rel="stylesheet" href="/styles/modules/partials/header.css">
<link rel="stylesheet" href="/styles/modules/partials/footer.css">
