<header>
  <div>
    <a href="/books">
      <h1>Best Books!</h1>
    </a>
  </div>
  <nav>
    <div class="icon-menu"></div>
    <ul>
      <li><a href="/books">Home</a></li>
      <li><a href="/books/new">Add a New Book</a></li>
      <li><a href="/searches/new">Search the Google Books API</a></li>
    </ul>
  </nav>
</header>
